*{
    margin: 0;
    padding: 0;
    text-align:center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice{
    height: 100px;
    width: 100px;
    border-radius: 50%; 
}

.choice:hover{
    cursor: pointer;
    border: 3px solid black;
}

#Rock{
    background-color: pink;
}

#Paper{
    background-color:violet;
}

#Scissor{
    background-color:blue;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;    

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:3rem;
}

#user-score, #computer-score{
    padding-left: 10px;

}

#you, #computer{
    padding-left: 10px;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}